<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Promoted Content</h2></a>
<a href="{{ "/pages/pages" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Magazine</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="https://fraponicrosemetajournal.thecomicseries.com/rss"><h2>DailyRSS</h2></a>
